@media screen and (min-width: 700px){
    .title{
        font-size: 50px;
        color: blue;
    }
}

@media screen and (min-width: 1200px){
    .title{
        font-size: 70px;
        color: orange;
    }
}

.link1{ 
    position: relative; z-index: 99999; 
}

.background{
    background-image: url("../images/openingScreen.png");
    width: 850px;
    height: 450px;
}

.link1{
    float: left;
    margin-left: 50px;
    margin-top: 200px;
}